/**************************************
 *                                    *
 * Product View - Shipping Calculator *
 *                                    *
 **************************************/
.action.primary.shippingcalc {
  width        : 60%;
  padding      : 14px 17px;
  margin-bottom: 30px;

  span {
    line-height: 2.2rem;
    padding    : 14px 17px;
    font-size  : 1.8rem;
  }
}

/**************************************
 *                                    *
 * Product View - Shipping Rate Box   *
 *                                    *
 **************************************/
.shipping-rate {
  font-size    : 20px;
  line-height  : 25px;
  font-weight  : 600;
  margin-bottom: 20px;
}