<?php
/**
 *
 * @description Shipping calculator to product view page
 *
 */
?>

<?php
/**
 *
 * Add AJAX Shipping calculation JS
 *
 */
?>
<script type="text/x-magento-init">
    {
        "#product-shippingcalc-button": {
            "Ids_Welivery/js/shippingcalc": {
                "idPostalCodeContainer" : "#zip-code",
                "idRateContainer"       : "#shipping-calc"
            }
        }
    }
</script>


<?php $_product = $block->getProduct(); ?>

<div class="box-shippingcalc">
    <div class="fieldset">
        <div class="field zip-code">
            <label class="label" for="zip-code"><span><?php echo __('Zip Code') ?></span></label>

            <div class="control">
                <input type="number" name="zip-code" id="zip-code" title="<?php echo __('Zip Code') ?>" class="input-text zip-code"/>
            </div>
        </div>

        <div class="actions">
            <p id="shipping-calc" class="shipping-rate"></p>
            <button type="button" title="<?php echo __('Welivery Shipping Calculator') ?>" class="action primary shippingcalc" id="product-shippingcalc-button">
                <span><?php echo __('Welivery Shipping Calculator') ?></span>
            </button>
        </div>
    </div>
</div>
