<?php
/**
 *
 * @description Track information to 'Welivery' shipment email
 *
 */
?>
<?php $_shipment    = $block->getShipment() ?>
<?php $_order       = $block->getOrder() ?>

<?php if ($_shipment && $_order && $_shipment->getAllTracks()): ?>
    <br />
    <table class="shipment-track">
        <thead>
            <tr>
                <th><?= /* @escapeNotVerified */  __('Shipped By') ?></th>
                <th><?= /* @escapeNotVerified */  __('Tracking Number') ?></th>
            </tr>
        </thead>

        <tbody>
            <?php foreach ($_shipment->getAllTracks() as $_item): ?>
                <tr>
                    <td><?= $block->escapeHtml($_item->getTitle()) ?>:</td>

                    <?php
                    /**
                     *
                     * Add Tracking URL
                     *
                     */
                    ?>
                    <?php $trackingInfo = $block->getTrackingInfoByTrackId($_item->getEntityId()); ?>
                    <td>
                        <?php if ($trackingInfo->getUrl()): ?>
                            <a href="<?= $block->escapeHtml($trackingInfo->getUrl()) ?>" onclick="this.target='_blank'"><?= $block->escapeHtml($_item->getNumber()) ?></a>
                        <?php else: ?>
                            <?= $block->escapeHtml($_item->getNumber()) ?>
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach ?>
        </tbody>
    </table>
<?php endif; ?>
